# === Django / Python ===
*.py[cod]
*$py.class
__pycache__/
.Python
db.sqlite3
db.sqlite3-journal
local_settings.py
sessions/
accumulated_static/
media/
staticfiles/
.env
.venv
/.venv
venv/
ENV/
env/
venv/
/venv
/migrations
migrations/
migrations


# === Vue.js / Node / Frontend ===
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache
.stylelintcache
.vuepress/dist
.vite-inspect

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# === Ferramentas de Sistema / IDEs ===
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak
*.tmp

# === Testes e Cobertura ===
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/